{% extends 'base.html' %}

{% block title %}
My Accounts
{% endblock title %}

{% block content %}
<main>
    <h1>My Accounts</h1>
    <table>
        <thead>
            <th>Name</th>
            <th>Number</th>
            <th>Number of Receipts</th>
        </thead>
        <tbody>
            {% for  account in accounts %}
            <tr>
                <td>{{ account.name }}</td>
                <td>{{ account.number }}</td>
                <td>{{ account.receipts.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
