{% extends 'base.html' %}

{% block title %}
My Categories
{% endblock title %}

{% block content %}
<main>
    <h1>My Categories</h1>
    <table>
        <table>
            <thead>
                <th>Name</th>
                <th>Number of Receipts</th>
            </thead>
            <tbody>
                {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.receipts.count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </table>
</main>
{% endblock content %}
